* {
  margin: 0;
}
body {
  background-color: #fff9f987;
}

input:focus {
  outline: none;
}

.error {
  max-width: 90vw;
  height: max-content;
  display: flex;
  align-items: center;
  min-width: max-content;
  max-width: 500px;
  padding: 10px;
  background-color: #fff1f1;
  margin: 20px;
  box-shadow: 0 2px 10px rgba(255, 170, 170, 0.237);
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
}
.error p {
  color: #fc3737;
  font-weight: bold;
  font-size: small;
  padding-right: 50px;
  padding-left: 10px;
  max-width: calc(90vw - 200px);
}
.error img:last-of-type {
  margin-left: auto;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}
