.upload {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upl-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    width: 90vw;
    margin: auto;
}

.u-skill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.u-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.us-head {
    display: flex;
    align-items: center;
}

.us-head img {
    background-color: #fde5e5;
    /* background: linear-gradient(120deg, rgb(255, 45, 45), #ff815a); */
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-shadow: 0 2px 10px rgba(255, 129, 129, 0.413);
    border-radius: 50%;
    padding: 5px;
    margin-right: 7px;
}

.us-head div {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 30px rgba(255, 141, 141, 0.208);
    display: flex;
    align-items: center;
    font-size: small;
}

.us-head h4 {
    width: 5px;
    height: 5px;
    background-color: #ff815a;
    margin-left: 7px;
    border-radius: 50px;
    margin-right: 2px;
}

.us-head span {
    font-size: smaller;
}

.us-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.us-body span {
    height: 13px;
    width: 2px;
    background-color: #ff815a;
}

.us-body img {
    background: linear-gradient(120deg, rgb(255, 45, 45), #ff815a);
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-shadow: 0 2px 10px rgba(255, 129, 129, 0.413);
    border-radius: 50%;
    padding: 5px;
}

.u-cert {
    padding: 20px;
    border-radius: 20px;
    background-color: #fef0f0;
    margin: 10px 0;
}

.u-cert img {
    object-fit: contain;
    width: 200px;
    height: 150px;
    box-shadow: 0 2px 10px rgba(13, 13, 13, 0.265);
}

.u-upl {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.u-upl .l-body {
    position: relative;
    background-color: #fff6f6;
    box-shadow: 0 4px 30px rgba(250, 172, 172, 0.29);
    padding-top: 60px;
}

.u-upl .l-body>img {
    width: 20px;
    padding: 7px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fee8e8;
    box-shadow: 0 2px 20px rgba(250, 172, 172, 0.212);
    border-radius: 50%;
    cursor: pointer;
}