.chart::-webkit-scrollbar {
    display: none;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.d-left {
    width: calc(100vw - 300px);
}
.contents {
    width: calc(100% - 320px);
}
.dm-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.dm-cont > div, .dc-cont > div {
    margin: 10px;
    padding: 20px;
    min-width: 100px;
    background: white;
    box-shadow: 0 3px 20px rgba(250, 172, 172, 0.212);
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}
.d-mixed img {
    width: 25px;
}
.d-mixed p {
    font-size: small;
}
.gt {
    font-size: 40px;
    background: -webkit-linear-gradient(120deg, yellow, rgb(255, 153, 29), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.users {
    width: 150px;
    height: 80vh;
    box-shadow: 0 3px 20px rgba(250, 172, 172, 0.212);
    border-radius: 10px;
    margin: 10px;
    overflow-y: scroll;
    padding: 20px;
    background-color: white;
}
.u-cont {
    display: flex;
    padding: 15px 0;
    font-size: small;
    font-weight: bold;
}
.u-cont img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.u-cont span {
    color: #ffb6b6;
    font-size: smaller;
}
.d-title {
    position: absolute;
    top: 10px;
    left: 10px;
}
.d-cats, .d-mixed {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: small;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 50px;
}
.ad-head {
    display: flex;
    align-items: center;
}
.ad-head img {
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(255, 170, 170, 0.317);
    background: linear-gradient(120deg, red, #fc3737);
    margin: 10px;
}
.ad-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ad-body button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(120deg, red, #ff8888);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 5px 30px rgba(255, 27, 27, 0.395);
    cursor: pointer;
    font-size: smaller;
}
.chart {
    box-shadow: 0 3px 20px rgba(250, 172, 172, 0.212);
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 300px;
    height: 150px;
    position: relative;
    overflow: scroll;
}
.dc-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.dc-cont > div {
    display: flex;
    align-items: center;
    padding: 10px !important;
    width: max-content;
    position: relative;
    padding-right: 70px !important;
}
.d-cats img {
    background-color: #fdefef;
    border-radius: 50%;
    padding: 5px;
    margin-right: 7px;
    width: 20px;
}
.dc-count {
    position: absolute;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dc-count span {
    padding: 5px 8px;
    border-radius: 2px;
    background-color: #fc3737;
    font-size: small;
    color: white;
    box-shadow: 0 2px 10px rgba(250, 172, 172, 0.212);
}
.dc-count h6 {
    transform: rotate(-90deg);
}
.sb-cont {
    display: flex;
    flex-direction: column;
}
.sb-cont span {
    display: flex;
    align-items: center;
    color: #ffb6b6;
    font-size: smaller;
}
.sb-cont h6 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #ffb6b6;
}

@media(max-width: 700px) {
    .dashboard {
        width: 100vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dm-cont  {
        width: 100vw;
    }
    .d-left {
        width: 80vw;
        margin: auto;
    }
    .contents {
        width: 80vw;
    }
    .chart {
        width: 90vw;
    }
    .users {
        width: 80vw;
        margin: 20px auto;
    }
}